* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Verdana !important;
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  text-align: center !important;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

@media (min-width: 576px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important;
  }
}

.h2,
h2 {
  font-size: 2rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.h2,
h2 {
  font-size: 2rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

section h2 {
  font-weight: 600;
  color: #072b52;
  font-size: 40px;
}

.pl-100 {
  padding-left: 100px;
}

img {
  width: 100%;
}

h1,
h1 strong,
h2,
h3,
h4,
h5 {
  font-family: "Trebuchet MS" !important;
}

*,
b,
body,
p,
span,
strong {
  font-family: Verdana !important;
}

h2 span {
  font-family: "Trebuchet MS" !important;
}
